/* src/components/Input/Input.css */

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.input-label {
  font-size: 13px;
  font-weight: 500;
}

.required {
  color: red;
  margin-left: 4px;
}



.input-field {
  width: 100%;          /* 🔥 핵심 */
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 12px;
  box-sizing: border-box; /* 🔥 padding 때문에 줄어드는 문제 방지 */
}

.input-field:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input-hint {
  font-size: 12px;
  color: #888;
}

.input-error-text {
  font-size: 12px;
  color: #ff4d4f;
}

.input-error {
  border-color: #ff4d4f;
}